// padding top

.pt-05r {
  padding-top: 0.5rem;
}
.pt-1r {
  padding-top: 1rem;
}
.pt-15r {
  padding-top: 1.5rem;
}
.pt-2r {
  padding-top: 2rem;
}

// padding bottom

.pb-05r {
  padding-bottom: 0.5rem;
}
.pb-1r {
  padding-bottom: 1rem;
}
.pb-15r {
  padding-bottom: 1.5rem;
}
.pb-2r {
  padding-bottom: 2rem;
}

// padding right

.pr-05r {
  padding-right: 0.5rem;
}
.pr-1r {
  padding-right: 1rem;
}
.pr-15r {
  padding-right: 1.5rem;
}
.pr-2r {
  padding-right: 2rem;
}

// padding left

.pl-05r {
  padding-left: 0.5rem;
}
.pl-1r {
  padding-left: 1rem;
}
.pl-15r {
  padding-left: 1.5rem;
}
.pl-2r {
  padding-left: 2rem;
}
.pl-35r {
  padding-left: 45.5px !important;
}
