.ant-checkbox-inner {
  background-color: #eff2f5 !important;
  border-radius: 0.45rem !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  display: flex;
  justify-content: center;

  &:focus-visible {
    outline: none;
    border: none;
  }

  &:hover {
    border: none;
  }

  &::after {
    left: 40%;
    top: 3.5px;
  }
}

.ant-table-row {
  &:hover {
    // background: initial !important;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}

.ant-table-selection-column {
  span {
    width: 100%;
    display: flex !important;
    justify-content: flex-start;
  }
}

.ant-checkbox-checked {
  &::after {
    border: none !important;
  }
}

.ant-table-thead {
  .ant-table-selection {
    display: flex;
    align-items: center;

    .ant-checkbox-inner {
      background: #f4f4f4;
      border: 1px solid #f4f4f4;
    }
  }

  .column-name {
    line-height: 18px !important;
    height: 18px;
    text-transform: uppercase;
  }

  .column-name,
  .column-price,
  .column-code,
  .column-qty,
  .column-btns,
  .column-options,
  .column-img,
  .column-tags,
  .column-date {
    font-family: "TT Interfaces";
    font-style: normal;
    background-color: #fff;
    font-weight: 600 !important;
    color: #b5b5c3 !important;
    font-size: 11.7px !important;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #f4f4f4 !important;
}

.ant-checkbox-wrapper {
  .ant-checkbox-inner {
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    width: 20px !important;
    height: 20px !important;
  }
}

.ant-table-thead > tr > th,
.show-cases-header ul > li {
  background: #fff !important;
  border-bottom: 1px dashed #f4f4f4 !important;
  padding: 14.25px 9.75px 14.25px 0 !important;
}

.show-cases-header ul,
.show-cases-body ul {
  display: grid;
  grid-template-columns: 55px auto 100px;
}

.ant-table-tbody > tr > td,
.show-cases-body ul > li {
  padding-left: 0 !important;

  &:last-child {
    padding-right: 0 !important;
  }

  &:first-child {
  }
}

.product_table {
  .ant-table-tbody > tr > td,
  .show-cases-body ul li {
    border-bottom: 1px dashed #f4f4f4 !important;
  }
}

.ant-table-tbody {
  .column-price {
    @include fontTTinterface(16px, 500);
    line-height: 18px;
    color: #181c32;
  }

  .column-name {
    line-height: 16px;
    color: #181c32;
    font-family: "TT Interfaces";
    font-size: 14.04px;
    font-weight: bold;

    h6, a {
      text-align: start;
      line-height: 24px;
      color: #181c32;
      font-family: "TT Interfaces";
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      margin-bottom: 8px !important;
      overflow: hidden;
      width: 90%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      text-overflow: ellipsis;

      span {
        color: #3699ff;
        font-family: "TT Interfaces";
        font-size: 14px !important;
        font-weight: 600 !important;
      }
    }

    a:hover {
      color: #187de4;
    }

    span {
      @include fontTTinterface(14px, 400);
      line-height: 18px;
      color: #a1a5bf;
      text-align: start;
    }
  }

  .column-code {
    @include fontTTinterface(14px, 500);
    line-height: 20px;
    text-transform: uppercase;
    color: #a1a5bf;

    h4 {
      @include fontTTinterface(14px, 500);
      line-height: 20px;
      color: #a1a5bf;
    }
  }

  .column-qty {
    line-height: 24px;
    color: #181c32;
  }

  .column-date {
    color: #3699ff;
    font-family: "TT Interfaces";
    font-size: 14.04px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
  }

  .column-price {
    line-height: 24px;
    color: #181c32;
  }
}

.empty-style {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

.tag_new {
  background: #c9f7f5;
  color: #18b3bd;
}

.tag_done {
  background: #c9f7f5;
  color: #18b3bd;
}

.tag_pending {
  background: #fff4de;
  color: #ffa909;
}

.tag_returned {
  background: #ffe2e5;
  color: #f65160;
}

.tag_canceled {
  background: #ffe2e5;
  color: #f65160;
}

.is_paid {
  color: #18b3bd !important;
}

.not_paid {
  color: #f65160 !important;
}

.tag_accepted {
  color: #3699ff;
  background: #e1f0ff;
}

.column-tags {
  text-transform: capitalize;

  .tags-style {
    line-height: 0.6px;
    border-radius: 5.46px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    font-family: "TT Interfaces";
    font-size: 11.7px;
    font-weight: 500;
    padding: 0 9.75px;
    text-transform: capitalize;
  }
}

.table_actions {
  border-radius: 6.175px !important;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  border: none !important;

  .popper__arrow {
    display: none !important;
  }

  .el-dropdown-menu__item {
    color: #7e8299;
    @include fontInter(12.35px, 500);
    padding: 8.45px 9.75px;
    line-height: 18px;
    width: 117px;
    border-radius: 6.175px;
    margin: 0;
  }
}

.column-btns {
  text-transform: uppercase;

  span {
    .action-btn {
      background: #f3f6f9;
      border-radius: 8px;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .el-dropdown {
    .el-dropdown-link {
      display: flex;
      padding: 8px 17.25px;
      color: #7e8299;
      background: #f9f9f9;
      border-radius: 5.525px;
      @include fontInter(12.35px, 500);
      line-height: 18px;
      align-items: center;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      svg {
        width: 15px;
        height: 15px;
      }

      &:hover {
        background: #f1faff;
        color: #009ef7;
      }
    }
  }
}

.column-options {
  .option-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 42px;
    overflow: hidden;
  }

  .option-items {
    padding: 8px 16px;
    background: #eff2f5;
    border-radius: 8px;
    @include fontTTinterface(14px, 500);
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #6c7b9a;
    white-space: nowrap;
    margin-right: 8px;
    margin-bottom: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

//child table

.child-table {
  thead {
    display: none;
  }
}

.ant-table-thead
> tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
> td,
.ant-table-tbody
> tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
> td,
.ant-table-thead
> tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
> td,
.ant-table-tbody
> tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
> td {
  // background: #fff !important;
}

// .ant-table-row-collapsed,
//   .ant-table-row-expanded {
//     position: absolute;
//     width: 100% !important;
//     height: 100% !important;
//     left: 40px;
//     top: 0;
//     opacity: 0;
//   }
.ant-table-row-cell-break-word {
  position: relative;

  .ant-table-row-collapsed,
  .ant-table-row-expanded {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 40px;
    top: 0;
    opacity: 0;
  }
}

.ant-table-row-level-0 {
  background: #fff;

  .select-table-child {
    padding-left: 0;
  }

  .column-name {
    position: relative;

    .ant-table-row-collapsed,
    .ant-table-row-expanded {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }
}

.ant-table-row-level-1 {
  background: #f5f5f7;

  .column-name {
    // padding-left: 45px !important;
    position: relative;
    border: none !important;

    .ant-table-row-collapsed,
    .ant-table-row-expanded {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 45px;
      top: 0;
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      border-left: 1px solid #eeeeee;
      top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px solid #eeeeee;
      bottom: 0;
    }
  }

  .indent-level-1 {
    display: flex;
  }

  td {
    border-bottom: 1px solid #eeeeee !important;
  }
}

.ant-table-row {
  position: relative;

  .ant-table-row-collapsed,
  .ant-table-row-expanded {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.ant-table-row-level-2 {
  background: #fafbfc;

  .indent-level-2 {
    // display: flex;
    // position: absolute;
    // top: 0;
    // padding: 0 !important;
    // left: 45px;
    // height: 100%;
    // border-left: 1px solid #eeeeee !important;
  }

  .column-name {
    // padding-left: 108px !important;
    border: none !important;

    .ant-table-row-collapsed,
    .ant-table-row-expanded {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      border-left: 1px solid #eeeeee;
      top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px solid #eeeeee;
      bottom: 0;
    }
  }

  position: relative;
}

.column-child {
  display: flex;
  justify-content: flex-end;
}

.ant-table-row-spaced {
  position: absolute;
}

.select-table-child {
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select-img {
  margin-right: 16px;
}

.column-btns {
  padding-right: 0 !important;
}

.table-pagination {
  .ant-pagination-item-active {
    background: #009ef7;
    color: #ffffff !important;

    a {
      pointer-events: none !important;
    }

    &:hover,
    &:focus {
      background: #009ef7 !important;

      a {
        color: #ffffff !important;
      }
    }
  }

  .ant-pagination-item {
    border: none;
    justify-content: center;
    align-items: center;

    a {
      font-weight: 600;
      pointer-events: none !important;
    }

    border-radius: 0.475rem;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.2s ease;

    &:hover {
      color: #009ef7;
      background: #f9f9f9;
    }
  }
}

.ant-pagination-item-link {
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  &:hover {
    color: #009ef7;
    background: #f9f9f9 !important;
  }
}

@media (max-width: 1440px) {
  .ant-table-thead {
    .column-name,
    .column-price,
    .column-code,
    .column-qty,
    .column-btns,
    .column-options,
    .column-img,
    .column-tags {
      font-size: 11.7px !important;
    }
  }
  .ant-table-tbody {
    .column-name {
      h6 {
        line-height: 21px;
        font-size: 15px;
        margin-bottom: 6px !important;
      }

      span {
        @include fontTTinterface(12px, 400);
        line-height: 16px;
        text-align: start;
      }
    }

    .column-price {
      @include fontTTinterface(14.04px, 500);
      line-height: 18px;
      color: #181c32;
    }

    .column-code {
      @include fontTTinterface(12px, 500);

      h4 {
        @include fontTTinterface(12px, 500);
      }
    }

    .column-qty {
      @include fontTTinterface(14.04px, 500);
      line-height: 24px;
      color: #181c32;
    }

    .column-tags {
      .tags-style {
        font-size: 11.7px;
      }
    }

    .column-btns {
      span {
        .action-btn {
          background: #f3f6f9;
          border-radius: 5.46px;
          width: 30px;
          height: 30px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .column-options {
      .option-items {
        padding: 4px 9.75px;
        background: #eff2f5;
        border-radius: 5.75px;
        @include fontTTinterface(11.7px, 500);
        margin-right: 5px;
        margin-bottom: 5px;
        height: 24px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .show-cases-body ul li {
    padding: 9.7px 9.7px 9.7px 0 !important;
  }
}

.show-cases-body ul li {
  padding: 9.7px 9.7px 9.7px 0 !important;
}

.show-cases-body ul li {
  display: flex;
  align-items: center;
}
