.category-from-grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 24px;
}
.category-input-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
.category-img-grid {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}
.category-select-grid {
  display: grid;
  grid-gap: 24px;
}
.category-character-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  grid-gap: 16px;
}
@media (max-width: 1440px) {
  .category-from-grid {
    grid-gap: 13px;
    grid-template-columns: 5fr 2fr;
  }
}
